.banner{
    height: 80vh;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content:space-around;
    padding: 10% 10% 0% 10%;
}

.text-banner{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.text-banner img{
    width: 100%;
}

.programs{
    display: flex;
    height: 90vh;
    background-color: #F6F6F6;
    justify-content: space-around;
    padding: 10% 10% 0% 10%;
}

.program{
    text-align: center;
    width: 25%;
}

.comments{
    padding-top: 10%;
    height: 90vh;
    width: 100vw;
    
    
}

.flex-container{
    width: 100;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;    
}

.reporter{
margin: 5% 0% 5% 5%;
display: flex;
flex-direction: row;

}

.reporter img{
    max-width: 100%;
    height: auto;
      
}

.reporter p{
margin-left: 5%;
}



#centralize{
width: 100%;
display: flex;
justify-content: center;

}

#text-center{
    width: 100%;
}


@media screen and (max-width: 1200px) {


    .banner{
        flex-direction: column-reverse;
        align-items: center;
        margin: 5% 0%;
    }

    .banner img{
        width: 70%;
    }

    .text-banner{
        width: 60%;
        margin: 3% 0%;
        align-items: center;
    }

    .programs{
        height:fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;    
        vertical-align: middle;
        justify-content: center; 
    }

    .program{
        margin-bottom: 20%;
        width: 70%;
    }

    .program img{
        width: 60%;
        height: auto;
    }

    .banner{
        text-align: center;
        height:fit-content;
    }

    .text-banner{
        font-size: 0.3em;
    }

    .comments{
        height: fit-content;
    }

    .reporter{
        flex-direction: column;
        align-items: center;
        margin:10% 0%;
    }
    .reporter img{
        margin-bottom: 8%;
        height: 50%;
    }
    .reporter p{
    text-align: center;
    }
    


      

}



