.programs{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 8%;
}

.program{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    margin-top: 5%;
    border-bottom: 1px solid #C4C4C4;
}

.program img{
    width: 60%;
    margin-right: 5%;
}

.flex-container p{
    margin-bottom: 5%;
}

@media screen and (max-width: 1000px) {

    .program{
        flex-direction: column;
        align-items: center;
        
    }

    .program img{
        width: 40%;

    }

}
    
@media screen and (max-width: 500px) {

.program{
    margin-top: 15%;
}

.program img{
    width: 70%;
    
}
.program a{
    text-align: center;
    width: 50%;
}
.flex-container p{
    margin-bottom: 10%;
}
}
